{% extends "base.html" %} 

{% block pagename %}Home{% endblock pagename %}

{%block content %} 
{{now}}
{% for room in rooms %}
    <h4>
        <a href="{% url 'rooms:detail' room.pk %}">
            {{room.name}} / ${{room.price}}
        </a>
    </h4>
{% endfor %}


<h6>

{% comment %} 
has_previous is function but, didn't write like this: has_previous() in django-template.
because django-template very smart so translate has_previous to has_previous()  
{% endcomment %}

{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}

Page is: {{page_obj.number}} of {{page_obj.paginator.num_pages}}

{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">Next</a>
{% endif %}


</h6>



{% endblock content %}
