@tailwind base;
@tailwind components;

// if you modify this file, you must run this command : "num run css"

.search_box {
  transition: box-shadow 0.3s linear;
}

.nav_link {
  @apply m-6 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
  &:hover {
    @apply border-gray-800;
  }
}

.custom_input {
  @apply w-full p-5 border border-gray-500 rounded-md mb-4 text-sm text-black;
  &:focus {
    @apply outline-none border-blue-500;
  }
}

@keyframes tinkle {
  from {
    @apply bg-red-400;
  }
  to {
    @apply bg-white;
  }
}

.input_container.has_error {
  input {
    animation: tinkle 2s linear;
  }
}

.error {
  @apply text-red-700 text-sm font-medium;
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  5% {
    opacity: 100%;
    transform: translateY(70px);
  }
  95% {
    opacity: 100%;
    transform: translateY(70px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

//forwards는 마지막 값을 유지하는 설정 즉 100%일 때, 가지게 되는 css값을 그대로 가져라 라는 명령
.message {
  animation: messageFadeIn 3.5s ease-in-out forwards;
  &.error {
    @apply bg-red-400;
  }
  &.debug {
    @apply bg-black;
  }
  &.info {
    @apply bg-blue-400;
  }
  &.success {
    @apply bg-green-400;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@tailwind utilities;
