{% extends 'base.html' %}


{% block pagename %}Change Password{% endblock pagename %}
{% block search-bar %}{% endblock search-bar %}


{% block content %}
<div class="h-auto max-h-full mb-16">
    <div class="container w-1/4 mx-auto border border-gray-600 rounded-md h-auto p-4">
        <form method="POST" class="w-full">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span class="error">{{error}}</span>
                {% endfor %}
            {% endif %}
                
            {% for field in form %}
                <div class="input_container {% if field.errors %}has_error{% endif %}">    
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="error">{{error}}</span>
                    {% endfor %}
                {% endif %}
                {{field}}
                </div>
            {% endfor %}

            <button class="w-full text-center text-sm font-medium text-white bg-blue-500 rounded-md p-3">
                Change Password
            </button>
                
        </form>
    </div>
</div>
{% endblock content %}
    
    
    